@import "tailwindcss";

:root {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: #f1f5f9;
}

/* Sembunyikan scrollbar tipis agar lebih rapi di canvas */
.thin-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.thin-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
